<Link href="_content/Capgemini.Net.Blazor.Components.LoadPlaceholder/css/styles.css" rel="stylesheet" />

<div class="content_loading">
    <p>Loading</p>
</div>
<div class="content_loading">
    <img src="_content/Capgemini.Net.Blazor.Components.LoadPlaceholder/img/cap-animation.gif" />
</div>