.content_loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    ::deep p {
        font-family: 'Ubuntu';
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    img {
        opacity: 0.15;
    }
}
