.rate-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .rate-container .icon-rate-container {
    display: flex; }
  .rate-container .average-rate-container {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: large; }
    .rate-container .average-rate-container:before {
      content: 'Average rate: ';
      font-family: 'Ubuntu';
      font-weight: bold;
      text-transform: uppercase;
      font-size: larger;
      padding-right: 15px; }
