<Title Value=".NET Community Blazor Introduction | Demo 2"></Title>
<Link href="_content/Capgemini.Net.Blazor.Components.Demo2/css/styles.css" rel="stylesheet" />

@if (Context is not null)
{
    <FullTileContainer ChecklistContext="@Context">
        <DemoEndPoint>
            <Capgemini.Net.Blazor.Components.Demo2.End.RateComponent />
        </DemoEndPoint>
        <DemoStartPoint>
            <Capgemini.Net.Blazor.Components.Demo2.Start.RateComponent />
        </DemoStartPoint>
    </FullTileContainer>
}

@code {
    internal static readonly RenderFragment PointContext1 = __builder =>
    {
    <b>Label 1</b>
    <span style="display:block" class="note">It **works!**</span>
    };

    internal static readonly RenderFragment PointContext2 = __builder =>
    {
    <i>Label 2</i>

    <mark-down>
        ## h2

        * test
        * test2

        ```javascript
        let x = 'asdf'

        class Text {
        constructor() {

        }
        }
        ```
    </mark-down>
    };
}