.checkbox__container_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px; }
  .checkbox__container_wrapper .checkbox__container_element {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .checkbox__container_wrapper .checkbox__container_element .checkbox-read-more {
      padding-top: 8px; }
      .checkbox__container_wrapper .checkbox__container_element .checkbox-read-more.checkbox-read-more-opened svg {
        transform: rotate(180deg);
        transition: all 0.5s ease; }
      .checkbox__container_wrapper .checkbox__container_element .checkbox-read-more.checkbox-read-more-closed svg {
        transform: rotate(0deg);
        transition: all 0.5s ease; }
