<Title Value=".NET Community Blazor Introduction | Demo 11"></Title>

@if (Context is not null)
{
    <CascadingValue Name="Id" Value="@Id">
        <FullTileContainer ChecklistContext="@Context">
            <DemoEndPoint>
                <Capgemini.Net.Blazor.Components.Demo11.End.WrapperComponent />
            </DemoEndPoint>
            <DemoStartPoint>
                <Capgemini.Net.Blazor.Components.Demo11.Start.WrapperComponent />
            </DemoStartPoint>
        </FullTileContainer>
    </CascadingValue>
}

@code {
    internal static readonly RenderFragment PointContext1 = __builder =>
    {
    };

    internal static readonly RenderFragment PointContext2 = __builder =>
    {
    };
}