<span class="background-overlay">
    <img class="top-left-image" src="/_content/Capgemini.Net.Blazor.Components/img/Fixed_Shape_1_DeepPurple_RGB.svg" />
    <img class="bottom-left-image" src="/_content/Capgemini.Net.Blazor.Components/img/Fixed_Shape_3_VibrantBlue_RGB.svg" />
    <img class="bottom-right-image" src="/_content/Capgemini.Net.Blazor.Components/img/Fixed_Shape_4_TechRed_RGB.svg" />
</span>