.background-overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
    background-image: url("img/background-image.jpg");
    background-size: cover;

    .top-left-image {
        width: 12vw;
        position: fixed;
        top: 0;
        left: 0;
    }

    .bottom-left-image {
        width: 12vw;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .bottom-right-image {
        width: 12vw;
        transform: rotate(90deg) scaleY(-1.5);
        position: fixed;
        bottom: -46px;
        right: 5vw;
    }
}
