<label class="checkbox__container">
    <input type="checkbox" @bind-value="@IsDone" checked="@IsDone" />
    <span class="checkbox-checkmark"></span>
    <span class="checkbox-label">
        <span>@Label</span>
    </span>
</label>