@if (@Context is not null)
{
<div class="description-point" @ref="DescriptionDevElementRef">
    @if (@Context.Content is not null)
    {
        @Context.Content
    }
    else
    {
        <LoadPlaceholder />
    }
</div>
    <ArrowToLeftIcon
        Theme="@IconTheme.LIGHT"
        Height="18px"
        Width="18px"
        OnClick="@(() => OnClose.InvokeAsync())" />
}
