.description-point {
    padding-right: 10px;
    margin-bottom: 15px;
    font-family: monospace,monospace;
    overflow-y: auto;

    ::deep {
        mark {
            color: #6b25c7;
            background-color: #f5f2f9;
            border-radius: 4px;
            padding: 2px 4px;
            font-size: 1em;
        }

        p {
            font-weight: normal;
            font-size: 12pt;
        }

        ul {
            list-style-image: url('/_content/Capgemini.Net.Blazor.Components.Tile/img/ul.png');
        }

        .example-figure {
            display: flex;
            justify-content: space-around;
            flex: 1 1 auto;

            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                & > div {
                    margin-bottom: 5px;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }

                figcaption {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: x-small;
                }
            }
        }
    }
}
