.description-point {
  padding-right: 10px;
  margin-bottom: 15px;
  font-family: monospace,monospace;
  overflow-y: auto; }
  .description-point ::deep mark {
    color: #6b25c7;
    background-color: #f5f2f9;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 1em; }
  .description-point ::deep p {
    font-weight: normal;
    font-size: 12pt; }
  .description-point ::deep ul {
    list-style-image: url("/_content/Capgemini.Net.Blazor.Components.Tile/img/ul.png"); }
