<span class="checkbox-read-more checkbox-read-more-@OpenClosedCssState">
    <ArrowToRightIcon
        Theme="@Theme"
        Height="24px"
        Width="24px"
        OnClick="@(() => OnClickHandler())"/>
</span>