.description-point {
  padding-right: 10px;
  margin-bottom: 15px;
  font-family: monospace,monospace;
  overflow-y: auto; }
  .description-point ::deep mark {
    color: #6b25c7;
    background-color: #f5f2f9;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 1em; }
  .description-point ::deep p {
    font-weight: normal;
    font-size: 12pt; }
  .description-point ::deep ul {
    list-style-image: url("/_content/Capgemini.Net.Blazor.Components.Tile/img/ul.png"); }
  .description-point ::deep .example-figure {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto; }
    .description-point ::deep .example-figure figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      .description-point ::deep .example-figure figure > div {
        margin-bottom: 5px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; }
      .description-point ::deep .example-figure figure figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: x-small;
        width: 80%;
        text-align: center; }
