@if (@Context is not null)
{
<div class="description-point" @ref="DescriptionDevElementRef">
    @if (@Context.Content is not null)
    {
        @Context.Content
    }
    else
    {
        <div class="content_loading">
            <p>LOADING</p>
        </div>
        <div class="content_loading">
            <img src="../img/cap-animation.gif" />
        </div>
    }
</div>
    <ArrowToLeftIcon
        Theme="@IconTheme.LIGHT"
        Height="18px"
        Width="18px"
        OnClick="@(() => OnClose.InvokeAsync())" />
}
