@inherits RateComponentBase

<div class="rate-container">
    <div class="icon-rate-container">
        @for (int i = 0; i < @RateContext.MaxRate; i += 1)
        {
            int index = i;
            <i class="@(IsActive(i) ? ACTIVE_STYLE : INACTIVE_STYLE) @(RateContext.Icon) cursor-pointer"
               @onclick="SetRate"
               @onmouseover="@(() => ShowRate(index))"
               @onmouseout=RevertRate></i>
        }
    </div>
</div>

@code {
    [Parameter]
    public RateContext RateContext { get; set; } = default!;
}