@font-face {
  font-family: Ubuntu;
  src: url("../font/ubuntu/Ubuntu-Medium.ttf");
  font-weight: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../font/ubuntu/Ubuntu-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: Ubuntu;
  src: url("../font/ubuntu/Ubuntu-Light.ttf");
  font-weight: lighter; }
