<div class="field-wrapper">
    <div class="field-container">
        <div class="field-label">
            @Label
        </div>
        <span style="width: 100%;"></span>
        <div class="field">
            @ChildContent
            <label for="@InputName">@Label</label>
        </div>
    </div>
    <span class="field-validation">
        @ValidationContent
    </span>
</div>