<Title Value=".NET Community Blazor Introduction | Demo 8"></Title>

@if (Context is not null)
{
    <FullTileContainer ChecklistContext="@Context">
        <DemoEndPoint>
            <Capgemini.Net.Blazor.Components.Demo8.End.WrapperComponent />
        </DemoEndPoint>
        <DemoStartPoint>
            <Capgemini.Net.Blazor.Components.Demo8.Start.WrapperComponent />
        </DemoStartPoint>
    </FullTileContainer>
}


@code {
    internal static readonly RenderFragment PointContext1 = __builder =>
    {
    };

    internal static readonly RenderFragment PointContext2 = __builder =>
    {
    };
}